$alert-colors: (
  "default": $primary,
  "success": $success,
  "warning": $warning,
  "danger": $danger,
);
.normalized-alert {
  position: relative;
  padding: $alert-padding-y $alert-padding-x;
  margin-bottom: $alert-margin-bottom;
  border: $alert-border-width solid transparent;
  border-radius: $alert-border-radius;
  height: auto;
  word-wrap: break-word;
  &-with-description {
    position: relative;
    padding-left: 63px;
    color: rgba(0, 0, 0, 0.65);
    line-height: 1.5715;
    border-radius: 2px;
  }
  &-without-description {
    padding-left: 2.5rem;
  }
  &-icon {
    position: absolute;
    left: 1rem;
  }
  &-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: $alert-padding-y $alert-padding-x;
    color: inherit;
    cursor: pointer;
  }
  .bold-title {
    font-weight: $font-weight-bold;
  }
  &-desc {
    font-size: $alert-description-font-size;
    margin: $alert-description-top-margin 0 0;
  }
}
@each $color, $value in $alert-colors {
  .normalized-alert-#{$color} {
    @include alert-style($value, darken($value, 5%), $white);
  }
}
